body {
  margin-bottom: 15px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
}

/* bootstrap alert box formatting */
.alert {
  margin: 20px;
  display: none;
}

/*.transition-fade {
    opacity: 1;
    transition: 500ms;
    transform: translateX(0);
}

html.is-animating .transition-fade {
    opacity: 0;
    transform: translateZ(100%);
}

html.is-leaving .transition-fade {
    opacity: 0;
}*/

.header {
    text-align: center;
}

.applicationList {
    border: solid rgb(161, 158, 158) 2px;
    border-radius: 15px;
    max-width: 550px;
    box-shadow: 0 5px 15px rgba(80, 71, 71, 0.4);
    /* height: 532px;
    max-height: 532px; */
}

.card {
    height: auto;
    max-width: 500px;
    color: black;
    background: white;
    transition: all 0.2s ease-in-out;
    padding: 10px;
}

.card-body {
    font-size: 1.25em;
}

.card-img {
    max-width: 250px;
    max-height: auto;
}

.adjust-img {
    margin-top: 25px;
}

.card:hover {
    border: solid 2px rgb(216, 174, 77);
    box-shadow: 0 5px 15px rgba(80, 71, 71, 0.4);
}

.btn {
    margin-bottom: 5px;
}

.arrow-change {
    color: #042557;
}

#arrow-label {
    font-size: 0.75em;
    color: grey;
    margin: 0;
}

@media screen and (orientation: portrait) {
   .card {
        padding: 5px;
    }

    .card-title {
        font-size: 0.63em;
    }

    .card-img {
        max-width: 40%;
        margin-top: 25px;  
    }
    
    .applicationList {
        display: inline-block;
        border: solid rgb(161, 158, 158) 2px;
        border-radius: 15px;
        padding: 10px;
        box-shadow: 0 5px 15px rgba(80, 71, 71, 0.4);
        width: auto;
    }

    .spacingBox {
        height: 30px;
    }

    body {
        max-width: auto;
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin: 10px;
    }
}

@media screen and (orientation: landscape) {
    .card {
        padding: 5px;
    }

    .card-img {
        max-width: 50px;
    }

    .header {
        text-align: center;
    }
}

