h2 {
    text-align: center;
}

.container-fluid {
    border: solid rgb(161, 158, 158) 2px;
    border-radius: 15px;
    max-width: 550px;
    box-shadow: 0 5px 15px rgba(80, 71, 71, 0.4);
    padding: 20px;
    height: 532px;
    max-height: 532px;
}

.btn-border {
        border: solid rgb(206, 212, 218) 1px;
        margin-top: 5px;
        padding: 15px;
        padding-left: 30px;
        padding-right: 30px;
}

.form-group {
    margin-bottom: 0.5em;
}

@media screen and (orientation: portrait) {
    body {
        font-size: 0.63em;
        max-width: auto;
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin: 10px; 
    }
}