/* Grid area elements */
.homeBanner { grid-area: homeBanner; }
.homeReviewLeft { grid-area: homeReviewLeft; }
.homeReviewRight { grid-area: homeReviewRight; }
.homeRatesAdLeft { grid-area: homeRatesAdLeft; }
.homeRatesAdRight { grid-area: homeRatesAdRight; }
.homeCallLeft { grid-area: homeCallLeft; }
.homeCallRight { grid-area: homeCallRight; }
.homeRatesDescRight { grid-area: homeRatesDescRight; }
.homeRatesWidgetLeft { grid-area: homeRatesWidgetLeft; }
.homeBlogLeft { grid-area: homeBlogLeft; }
.homeBlogRight { grid-area: homeBlogRight; }
.homeMortgageRemLeft { grid-area: homeMortgageRemLeft; }
.homeMortgageRemRight { grid-area: homeMortgageRemRight; }
.homeExtraAreaLeft { grid-area: homeExtraAreaLeft; }
.homeExtraAreaRight { grid-area: homeExtraAreaRight; }

/* todo: split into lower content & header / banner content boxes */
.boxAll {
  border-bottom: 1px solid #d8ae4d;
  padding-top: 20px;
  padding-bottom: 20px;
}
.boxBody {
  min-height: 300px;
}

.navbar-custom {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.2em;
  transition: background-color 0.2s, color 0.2s;
}
.navbar-custom.nav-scrolled {
  background-color: #042557;
}

.homeBanner {
  /* max height of banner is defined separately in portrait */
  text-transform: uppercase;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  border-bottom: 1px solid #d8ae4d;
  padding-bottom: 30px;
  width: 100%;
}

#sloganLetter { grid-area: sloganLetter; font-size: 24vmin; }
#sloganTextS { grid-area: sloganTextS; }
#sloganTextE { grid-area: sloganTextE; }
#sloganTextT { grid-area: sloganTextT; }
.setTextS {
  opacity: 0;
  -webkit-transition: opacity 1.25s ease-in;
  -moz-transition: opacity 1.25s ease-in;
   -ms-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
       transition: opacity 1.25s ease-in;
}
.setTextE {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
   -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
       transition: opacity 2s ease-in;
}
.setTextT {
  opacity: 0;
  -webkit-transition: opacity 2.5s ease-in;
  -moz-transition: opacity 2.5s ease-in;
   -ms-transition: opacity 2.5s ease-in;
    -o-transition: opacity 2.5s ease-in;
       transition: opacity 2.5s ease-in;
}
.setTextAnim {
  background-color: rgb(224, 224, 224);
  color: black;
  background-size: auto;
  width: 100%;
}
.setLetters {
  line-height: 25vmin;
}
.setSubtitle {
    font-size: 3vmin
}
.setTextFade {
  opacity: 1;
}

.house line {
  fill: none;
  stroke: #d8ae4d;
  stroke-width: 2
}

footer {
  font-size: 75%;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (orientation: portrait) {
/* Grid */
.homeGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
      "homeBanner"
      "homeReviewLeft"
      "homeReviewRight"
      "homeRatesAdLeft"
      "homeRatesAdRight"
      "homeCallLeft"
      "homeCallRight"
      "homeRatesCompareLeft"
      "homeRatesCompareRight"
      "homeRatesWidgetLeft"
      "homeRatesDescRight"
      "homeBlogLeft"
      "homeBlogRight"
      "homeMortgageRemLeft"
      "homeMortgageRemRight"
      "homeExtraAreaLeft"
      "homeExtraAreaRight"
  ;
  gap: 2px;
  place-items: center; /* allows background to fill entire area */
  }
  /* End of portrait grid */
  
  .boxBody {
    min-height: 250px;
    /* max-height: 400px; */
    max-width: 500px; /* enforces "boxed" width for body content */
    /* vertically center content by applying flex to boxBody elements! */
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
  }

  .homeBanner {
      max-height: 540px;
  }
}

@media screen and (orientation: landscape) {
  /* Grid */
  .homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "homeBanner homeBanner"
        "homeReviewLeft homeReviewRight"
        "homeRatesAdLeft homeRatesAdRight"
        "homeCallLeft homeCallRight"
        "homeRatesCompareLeft homeRatesCompareRight"
        "homeRatesWidgetLeft homeRatesDescRight"
        "homeBlogLeft homeBlogRight"
        "homeMortgageRemLeft homeMortgageRemRight"
        "homeExtraAreaLeft homeExtraAreaRight"
    ;
    gap: 2px;
    place-items: center; /* allows background to fill entire area */
  }
  
  .boxBody {
    /* min-height: 400px;
    max-height: 500px; */
    /* max-height: 400px; */
    max-width: 500px; /* enforces "boxed" width for body content */
    /* vertically center content by applying flex to boxBody elements! */
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  #brand {
    width: 40%;
    height: 40%;
  }
}
