/* set default font of page */
body {
  font-family: 'Roboto', sans-serif;
}
/* Colour all vertical bars to theme colour */
.vertical-bar {
  color: #d8ae4d;
}
/* Prevent cursor from turning to selectable cursor when hovering over SVG text */
/* text {
  cursor: default;
} */


/* IE NAVBAR SCROLL FIX: The sticky class is added to the navbar with JS when it reaches its scroll position
   also see padding-top on ".sticky + .content" in portrait/landscape */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* change default navbar font alphas to make them brighter over dark background */
.navbar-dark .navbar-nav .nav-link { color: rgba(255,255,255,0.78); }
.navbar-dark .navbar-nav .nav-link:hover { color: rgba(255,255,255,0.9); }
.navbar-dark .navbar-nav .nav-link.disabled { color: rgba(255,255,255,0.5); }
.navbar-light .navbar-nav .nav-link { color: rgba(0,0,0,0.78); }
.navbar-light .navbar-nav .nav-link:hover { color: rgba(0,0,0,1); }
.navbar-light .navbar-nav .nav-link.disabled { color: rgba(0,0,0,0.5); }

/* add custom style to navbar */
.navbar-custom {
  z-index: 9999; /* necessary for IE */
  background-color: transparent;
  /* font-size: 1.2em; */
  -webkit-transition: background-color 0.35s;
  -moz-transition: background-color 0.35s;
   -ms-transition: background-color 0.35s;
    -o-transition: background-color 0.35s;
       transition: background-color 0.35s;
  /* -webkit-transition: background-color 0.35s, color 0.35s;
     -moz-transition: background-color 0.35s, color 0.35s;
      -ms-transition: background-color 0.35s, color 0.35s;
       -o-transition: background-color 0.35s, color 0.35s;
          transition: background-color 0.35s, color 0.35s; */
  /* -webkit-transition: background-color 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, color 0.2s;
   -ms-transition: background-color 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, color 0.2s;
       transition: background-color 0.2s, color 0.2s; */
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
/* navbar bg colour after scrolling down from top */
.navbar-custom.nav-scrolled {
  background-color: #042557;
  /* Box shadow impacts performance. Maybe fade it in AFTER other transitions? */
  /* -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75); */
}

/* container of all content below navbar, excluding footer */
.home-grid {
  max-width: 1050px;  /* set max width of all elements within main grid */
  margin: auto; /* center all elements within main grid */
  place-items: center; /* allows background to fill entire area */
}

/* also see portrait mode rules */
.home-banner {
  /* max height of banner is defined separately in portrait */
  /* max width of banner is defined separately in portrait/landscape */
  text-transform: uppercase;
  text-align: center;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'PT Serif', serif; */
  font-family: 'Libre Baskerville', serif;
  /* font-weight: bold; */
  border-bottom: 1px solid #d8ae4d; 
  padding-bottom: 20px;
  /* width: 100%; */
}
/* style all lines of the banner SVGs */
line {
  fill: none;
  stroke: #d8ae4d; /* alt red colour: #d31717 */
  stroke-width: 2;
}
/* fade-in animation settings for S E T text & subtitles */
.setTextS {
  opacity: 0;
  -webkit-transition: opacity 1.25s ease-in;
  -moz-transition: opacity 1.25s ease-in;
   -ms-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
       transition: opacity 1.25s ease-in;
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.setTextE {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
   -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
       transition: opacity 2s ease-in;
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.setTextT {
  opacity: 0;
  -webkit-transition: opacity 2.5s ease-in;
  -moz-transition: opacity 2.5s ease-in;
   -ms-transition: opacity 2.5s ease-in;
    -o-transition: opacity 2.5s ease-in;
       transition: opacity 2.5s ease-in;
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
#sloganLetter {
  font-size: 20vmin;
}
.setTextAnim {
  background-color: rgb(224, 224, 224);
  color: black;
  /* width: 100%; */
}

/* make line height scale better with text (normally too tall) */
.setLetters {
  line-height: 20vmin;  /* different in portrait */
}
.setSubtitle {
  /* make this smaller if subtitle text is taking up too much space 
      in portrait, font size is larger */
  font-size: 2.65vmin
}
/* make text opaque for fade animation */
.setTextFade {
  opacity: 1;
}

/* border below all blocks of content; should be replaced by portrait & landscape rules using last-child etc. */
.box-all {
  border-bottom: 1px solid #d8ae4d;
}

/* box for all content below banner, excluding footer
   - note separate rules in portrait & landscape as well */
.box-body {
  min-height: 300px; /* temp to make content line up better */
  padding-top: 20px;
  padding-bottom: 20px;
}

/* footer element itself */
footer {
  color: rgba(255,255,255,0.8);
  background-color: #042557;
  /* replace default 50px margin-bottom whitespace with padding to show BG instead */
  margin-bottom: 0;
  padding-top: 30px; /* should match the distance from footer to content above */
  padding-bottom: 50px;
}
/* custom footer class */
.footer-content {
  text-align: center;
  margin: auto;
  /* width equal to home-grid width */
  max-width: 1050px;
  width: 100%;
}

@media screen and (orientation: portrait) {
  /* IE NAVBAR SCROLL FIX: Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 4.5em;
  }

  .home-grid {
    place-items: center; /* allows background to fill entire area */
  }

  p {
    font-size: 0.965em;
  }

  /* box for all content, portrait version */
  .box-all:not(:last-child) {
  /* .box-body:last-child { */
    border-bottom: 1px solid #d8ae4d;
  }

  #sloganLetter {
    font-size: 30vmin;
  }
  .setTextAnim {
    background-size: auto;
    width: 100%;
    margin-bottom: 6px; /* diff margin in landscape vs. portrait; should have it scale somehow instead */
  }
  .setLetters {
    line-height: 30vmin;
  }
  .setSubtitle {
    /* make this smaller if subtitle text is taking up too much space */
    font-size: 3.35vmin;
  }
  
  .box-body {
    /* min-height: 250px; */
    /* enforces "boxed" width for body content */
    max-width: 450px;
    /* vertically center content w/flex & align-items */
    display: flex;
    align-items: center;
    /* horizontally center content */
    text-align: center;
  }

  footer {
    font-size: 0.9em;
  }
}

/* === Desktop landscape view === */
@media screen and (orientation: landscape) and (min-width: 800px) {
  /* IE NAVBAR SCROLL FIX: Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 8.5em;
  }

  .home-banner {
    max-width: 1050px;
  }
  .setTextAnim {
    width: 100%;
    margin-bottom: 20px; /* diff in landscape vs. portrait; should have it scale somehow instead */
  }

  /* box for all content, landscape version */
  /* don't display bottom-border on bottom row */
  .box-body:not(:nth-last-child(-n+2)) {
    border-bottom: 1px solid #d8ae4d;
  }
  
  .box-body {
    max-width: 500px; /* enforces "boxed" width for body content */
    /* vertically center content by applying flex to box-body elements! */
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
  }
}

/* MOBILE landscape view */
@media screen and (orientation: landscape) and (max-width: 799px) {
  #brand {
    max-width: 500px;
  }
  /* IE NAVBAR SCROLL FIX: Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 150px;
  }

  .home-banner {
    max-width: 1050px;
  }
  .setTextAnim {
    width: 100%;
    margin-bottom: 20px; /* diff in landscape vs. portrait; should have it scale somehow instead */
  }

  /* box for all content, landscape version */
  /* don't display bottom-border on bottom row */
  .box-body:not(:nth-last-child(-n+2)) {
    border-bottom: 1px solid #d8ae4d;
  }
  
  .box-body {
    max-width: 200px; /* enforces "boxed" width for body content */
    /* vertically center content by applying flex to box-body elements! */
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
  }
}