/* RED CSS SIMPLY CHANGES THE FOLLOWING TWO RULES FROM GOLD TO RED. */
/* f50a0a d31717 ...and old: ca1111ea e02222 */
body {
  font-family: 'Roboto', sans-serif;
}

/* Grid area elements */
.homeBanner { grid-area: homeBanner; }
.homeReviewLeft { grid-area: homeReviewLeft; }
.homeReviewRight { grid-area: homeReviewRight; }
.homeRatesAdLeft { grid-area: homeRatesAdLeft; }
.homeRatesAdRight { grid-area: homeRatesAdRight; }
.homeCallLeft { grid-area: homeCallLeft; }
.homeCallRight { grid-area: homeCallRight; }
.homeRatesDescRight { grid-area: homeRatesDescRight; }
.homeRatesWidgetLeft { grid-area: homeRatesWidgetLeft; }
.homeBlogLeft { grid-area: homeBlogLeft; }
.homeBlogRight { grid-area: homeBlogRight; }
.homeMortgageRemLeft { grid-area: homeMortgageRemLeft; }
.homeMortgageRemRight { grid-area: homeMortgageRemRight; }
.homeExtraAreaLeft { grid-area: homeExtraAreaLeft; }
.homeExtraAreaRight { grid-area: homeExtraAreaRight; }

.homeGrid {
  /* set max width of all elements within main grid */
  max-width: 1050px;
  /* center all elements within main grid */
  margin: auto;
}

/* Colour all vertical bars to theme colour */
.vertical-bar {
  color: #d31717;
}

/* box for all content below banner, excluding footer 
   - note: portrait mode excludes final element */
/* .boxAll {
} */
/* is set differently in portrait */
.boxBody {
  min-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* change default bootstrap font alphas to make them brighter over dark background */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.8);
}
.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255,255,255,0.5);
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,0.8);
}
.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0,0,0,0.5);
}
/* apply a custom shadow to the navbar when scrolled */
#topNav .shadow-lg {
  z-index: 9999;
  box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.1);
}

/* add custom style to navbar */
.navbar-custom {
  background-color: transparent;
  text-transform: uppercase;
  /* font-size: 1.2em; */
  transition: background-color 0.35s, color 0.35s;
}
/* navbar bg colour after scrolling down from top */
.navbar-custom.nav-scrolled {
  background-color: #042557;
}
/* ensure brand image never appears too large */
/* #brand {
  max-width: 375px;
} */

/* also see portrait mode rules */
.homeBanner {
  /* max height of banner is defined separately in portrait */
  /* max width of banner is defined separately in portrait/landscape */
  text-transform: uppercase;
  text-align: center;
  /* font-family: 'Times New Roman', Times, serif; */
  /* font-family: 'PT Serif', serif; */
  font-family: 'Libre Baskerville', serif;
  /* font-weight: bold; */
  border-bottom: 1px solid #d31717;
  padding-bottom: 20px;
  width: 100%;
}

/* fade-in animation settings for S E T text & subtitles */
.setTextS {
  opacity: 0;
  -webkit-transition: opacity 1.25s ease-in;
  -moz-transition: opacity 1.25s ease-in;
   -ms-transition: opacity 1.25s ease-in;
    -o-transition: opacity 1.25s ease-in;
       transition: opacity 1.25s ease-in;
}
.setTextE {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
   -ms-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
       transition: opacity 2s ease-in;
}
.setTextT {
  opacity: 0;
  -webkit-transition: opacity 2.5s ease-in;
  -moz-transition: opacity 2.5s ease-in;
   -ms-transition: opacity 2.5s ease-in;
    -o-transition: opacity 2.5s ease-in;
       transition: opacity 2.5s ease-in;
}
#sloganLetter {
  font-size: 20vmin;
}
.setTextAnim {
  background-color: rgb(224, 224, 224);
  color: black;
  /* width: 100%; */
}

/* make line height scale better with text (normally too tall) */
.setLetters {
  line-height: 20vmin;  /* different in portrait */
}
.setSubtitle {
  /* make this smaller if subtitle text is taking up too much space 
      in portrait, font size is larger */
  font-size: 2.65vmin
}
/* make text opaque for fade animation */
.setTextFade {
  opacity: 1;
}

/* remove default Bootstrap column padding rule */
/* .col {
  padding: 0;
} */

/* style all lines of the banner SVGs */
line {
  fill: none;
  stroke: #d31717;
  stroke-width: 2;
}


/* footer element itself */
footer {
  color: rgba(255,255,255,0.8);
  background-color: #042557;
  /* replace default 50px margin-bottom with padding to cover whitespace w/bg */
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 50px;
}
/* actual footer class */
.footer {
  text-align: center;
  /* width equal to homeGrid width */
  max-width: 1050px;
  width: 100%;
  margin: auto;
}

@media screen and (orientation: portrait) {
  /* Grid */
  .homeGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "homeBanner"
        "homeReviewLeft"
        "homeReviewRight"
        "homeRatesAdLeft"
        "homeRatesAdRight"
        "homeCallLeft"
        "homeCallRight"
        /* "homeRatesCompareLeft"
        "homeRatesCompareRight"
        "homeRatesWidgetLeft"
        "homeRatesDescRight"
        "homeBlogLeft"
        "homeBlogRight"
        "homeMortgageRemLeft"
        "homeMortgageRemRight"
        "homeExtraAreaLeft"
        "homeExtraAreaRight" */
    ;
    gap: 10px;
    place-items: center; /* allows background to fill entire area */
  }
  /* End of portrait grid */

  p {
    font-size: 0.965em;
  }

  /* box for all content, portrait only */
  .boxAll:not(:last-child) {
    border-bottom: 1px solid #d31717;
  }

  #sloganLetter {
    font-size: 30vmin;
  }
  .setTextAnim {
    background-size: auto;
    width: 100%;
  }
  .setLetters {
    line-height: 30vmin;
  }
  .setSubtitle {
    /* make this smaller if subtitle text is taking up too much space */
    font-size: 3.35vmin
  }
  
  .boxBody {
    /* min-height: 250px; */

    /* enforces "boxed" width for body content */
    max-width: 500px;
    /* vertically center content w/flex & align-items */
    display: flex;
    align-items: center;
    /* horizontally center content */
    text-align: center;
  }

  footer {
    font-size: 0.9em;
  }
}

@media screen and (orientation: landscape) {
  /* Grid */
  .homeGrid {
    display: grid;
    /* grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); */
    grid-auto-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "homeBanner homeBanner"
        "homeReviewLeft homeReviewRight"
        "homeRatesAdLeft homeRatesAdRight"
        /* "homeCallLeft homeCallRight" */
        /* "homeRatesCompareLeft homeRatesCompareRight"
        "homeRatesWidgetLeft homeRatesDescRight"
        "homeBlogLeft homeBlogRight"
        "homeMortgageRemLeft homeMortgageRemRight"
        "homeExtraAreaLeft homeExtraAreaRight" */
    ;
    gap: 20px;
    place-items: center; /* allows background to fill entire area */
  }

  /* don't display bottom-border on bottom row */
  .boxAll:not(:nth-last-child(-n+2)) {
    border-bottom: 1px solid #d31717;
  }
  /* .boxAll:not(:last-child) {
    border-bottom: 1px solid #d31717;
  } */

  .homeBanner {
    max-width: 1050px;
  }
  
  .boxBody {
    max-width: 500px; /* enforces "boxed" width for body content */
    /* vertically center content by applying flex to boxBody elements! */
    display: flex;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
  }
}

/* @media screen and (orientation: landscape) and (max-width: 1490px) {
  #brand {
    max-width: 40%;
    max-height: 40%;
  }
} */

/* MOBILE landscape mode */
@media screen and (orientation: landscape) and (max-width: 750) {
  #brand {
    max-width: 20%;
    max-height: 20%;
  }
}
