/* set default font of page */
body {
    font-family: 'Roboto', sans-serif;
}
/* Colour all vertical bars to theme colour */
.vertical-bar {
  color: #d8ae4d;
}

/* default vertical spacing of each row */
.form-group {  
  margin-bottom: 5px;
}

/* Center text of all columns (bad; use text-center class col-by-col instead) */
/* .col {
  text-align: center;
} */

/* give rows a default vertical spacing */
.row, .form-row {
  padding-bottom: 10px;
}

/* calculator rules */
.calculator {
  max-width: 1050px;
  font-size: 0.875em;
}

#calculator-title {
  padding-top: 12px;
}

/* make images responsively scale down, but never larger than original size */
/* img {
  max-width: 100%;
  height: auto;
} */

/* NOTE: this navbar code is a direct copy/paste of the home.css navbar code. Update this from there. */
/* IE NAVBAR SCROLL FIX: The sticky class is added to the navbar with JS when it reaches its scroll position
   also see padding-top on ".sticky + .content" in portrait/landscape */
.sticky {
  z-index: 9999; /* necessary for IE. If this is on navbar-custom, screws up scrolling */
  position: fixed;
  top: 0;
  width: 100%;
}
/* trying to center the navbar */
#navbar-container {
  max-width: 1050px;
}
/* change default navbar font alphas to make them brighter over dark background */
.navbar-dark .navbar-nav .nav-link { color: rgba(255,255,255,0.78); }
.navbar-dark .navbar-nav .nav-link:hover { color: rgba(255,255,255,0.9); }
.navbar-dark .navbar-nav .nav-link.disabled { color: rgba(255,255,255,0.5); }
.navbar-light .navbar-nav .nav-link { color: rgba(0,0,0,0.78); }
.navbar-light .navbar-nav .nav-link:hover { color: rgba(0,0,0,1); }
.navbar-light .navbar-nav .nav-link.disabled { color: rgba(0,0,0,0.5); }
/* add custom style to navbar */
.navbar-custom {
  background-color: transparent;
  /* font-size: 1.2em; */
  -webkit-transition: background-color 0.35s;
     -moz-transition: background-color 0.35s;
      -ms-transition: background-color 0.35s;
       -o-transition: background-color 0.35s;
          transition: background-color 0.35s;
  /* Enable hardware acceleration to fix laggy transitions */
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
}
/* navbar bg colour after scrolling down from top */
.navbar-custom.nav-scrolled {
  background-color: #042557;
  /* Box shadow impacts performance. Maybe fade it in AFTER other transitions? */
  -webkit-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
     -moz-box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
          box-shadow: 8px 10px 5px 0px rgba(0,0,0,0.75);
}

/* footer element itself */
footer {
  color: rgba(255,255,255,0.8);
  background-color: #042557;
  /* replace default 50px margin-bottom whitespace with padding to show BG instead */
  margin-top: 30px;
  margin-bottom: 0;
  padding-top: 30px; /* should match the distance from footer to content above */
  padding-bottom: 60px;
  box-shadow: 0 50vh 0 50vh #042557; /* fill space below footer with footer colour */
}
/* custom footer class */
.footer-content {
  text-align: center;
  margin: auto;
  /* width equal to home-grid width */
  max-width: 1050px;
  width: 100%;
}

/* Portrait mode */
@media screen and (orientation: portrait) {
  /* change title size on portrait */
  h3 {
    font-size: 1.4em;
  }
  
  /* Sized for 320 screen width, the minimum width I am willing to test */
  /* #down-payment-pct, #down-payment-amt {
    max-width: 123px;
  } */

  /* IS DESKTOP FONT SMALL ENOUGH? If not, shrink here to fit content better on small screens */
  /* .calculator {
    font-size: 0.95em;
  } */

  /* brand width for 320px-wide devices so nav menu button stays on same line */
  #brand {
    max-width: 215px;
  }

  /* Collapse calc rows on portrait so it fits within mobile width */
  /* .table {
    width: 100%;
    display: block;
  } */

  footer {
    font-size: 0.9em;
  }

  /* @media (min-width: 480px) {
      #background {
          height: 200px;
      }
  }
  @media (min-width: 768px) {
      #background {
          height: 150px;
      }
  }
  @media (min-width: 992px) {
      #background {
          height: 100px;
      }
  } */
}

/* Mobile landscape mode (make sure doesn't include desktop too) */
@media screen and (orientation: landscape) {
  /* IE NAVBAR SCROLL FIX: Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 6.35em;
  }

  /* Sized to match logos of other sites. Will have to accommodate toolbar row of navbar later */
  #brand {
    max-width: 300px;
  }
}

/* @media screen and (min-width: 768px) {
  #down-payment-pct, #down-payment-amt {
    max-width: 103px;
  }
} */

/* Desktop */
/* @media screen and (min-width: 992px) {
  #down-payment-pct, #down-payment-amt {
    min-width: 154px;
  }
} */