.container-fluid {
    border: solid rgb(161, 158, 158) 2px;
    border-radius: 15px;
    max-width: 550px;
    box-shadow: 0 5px 15px rgba(80, 71, 71, 0.4);
    padding: 20px;
    height: 532px;
    max-height: 532px;;
}

.card-style {
    padding: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-border {
    border: solid rgb(206, 212, 218) 1px;
    margin-top: 5px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
}

.card:hover {
    border: solid 2px rgb(216, 174, 77);
    box-shadow: 0 5px 15px rgba(80, 71, 71, 0.4);
}

.active {
    background-color: #042557 !important;
    color:white;
    box-shadow: 0 5px 15px rgba(80, 71, 71, 0.4);
  }

@media screen and (orientation: portrait) {
    body {
        max-width: auto;
        display: inline-block;
        vertical-align: middle;
        float: none;
        margin: 10px;
    }
}